@import '../../scss/variables';

.carousel-item {
  float: left;
  width: 100vw;
  position: relative;
  &_image {
    width: 100%;
    max-height: 80vh;
  }
  &_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $primary;
    text-shadow: 0 0 rem(4) $dark, 0 0 rem(4) $dark;
    text-align: center;
    
    &_title {
      font: {
        size: 5vmax;
        weight: 900;
        style: italic;
      }
    }
    &_description {
      font: {
        size: rem(20);
        weight: 600;
        style: italic;
      }
    }
    @media(max-width: $sm) {
      &_title {
        font: {
          size: rem(25);
        }
      }
      &_description {
        font: {
          size: rem(15);
          weight: 500;
        }
      }
    }
  }
}